[Desktop Entry]
Encoding=UTF-8
Name=Keymaker
Comment=Desktop allet for Keymaker Cryptocurrency
Comment[de]=Offizieller Client für die Kryptowährung Keymaker
Exec=keymaker-qt %u
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/keymaker128.png
MimeType=x-scheme-handler/keymaker;
Categories=Office;Finance;
StartupWMClass=Keymaker-qt
